LOCATE COMP "clk" SITE "P5";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

// SCK
LOCATE COMP "sck" SITE "D7";
IOBUF PORT "red_button" IO_TYPE=LVCMOS33;
// MOSI
LOCATE COMP "rx" SITE "D8";
IOBUF PORT "blue_button" IO_TYPE=LVCMOS33;

// output leds
LOCATE COMP "led_out[3]" SITE "E14";
IOBUF PORT "led_out[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "led_out[2]" SITE "E12";
IOBUF PORT "led_out[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led_out[1]" SITE "D13";
IOBUF PORT "led_out[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led_out[0]" SITE "D12";
IOBUF PORT "led_out[0]" IO_TYPE=LVCMOS33;

// MISO
LOCATE COMP "tx" SITE "D6";
IOBUF PORT "switch" IO_TYPE=LVCMOS33;
